.env.local
.dockerignore
.venv

# Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Config files
agent.yaml
livekit.toml

# Misc
.DS_Store

# Misspelled files
rquirements.txt

# Firebase credentials
*_firebase_adminsdk*.json
firebase-*.json
